*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
.App {
  text-align: center;
}

/* 
GENERAL STYLES
*/

 html, body {
    max-width: 100%;
    overflow-x: hidden;
}
img{
    width: 100%;
    height: 100%;
}

.row{
    padding: 0 32px;
    max-width: 2040px;
}
.container{
    margin: 20px 0;
    max-width: 2040px;
}
.section__title,
.section__sub-title{
    line-height: 1.5;
    text-align: center;
}
.section__sub-title{
    font-size: 32px;
    /* margin-bottom: 16px; */
    text-align: center;
}
.section__title{
    font-size: 57px;
    padding-top: 32px;
    margin-top: 3px
}
.color-text{
    color: darkred;
}
button{
background-color: darkred;
color: white;
font-size: 16px;
cursor: pointer;
display: flex;
align-items: center;
justify-content: center;
border: none;
}
.click {
  transition: all 300ms ease;
}
.click:hover {
  transform: scale(1.1);
  background-color: #fff;
  color: darkred;
  border: 2px solid darkred;
}
.click:active {
  transform: scale(0.8);
}
a{
    color: inherit;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
}
input{
    background-color: #fff;
    border-radius: 20px;
    border: 1px solid #242424;
    color: #0a1f44;
    height: 60px;
    line-height: 40px;
    outline: none;
    padding: 0 25px;
    font-size: 24px;
    width: 100%;
    max-width: 600px;
}
.link__hover {
  position: relative;
}
.link__hover--white::after {
  background-color: #fff;
}
.link__hover--red::after{
    background-color: darkred;
}
.link__hover::after {
  content: "";
  position: absolute;
  bottom: -3px;
  height: 3px;
  width: 0;
  right: 0;
  transition: all 300ms ease-in-out;
}
.link__hover:hover::after {
  left: 0;
  width: 100%;
}

/* 
NAV STYLES
*/
nav{
  width: 100%;
  padding: 12px 28px;
  position: sticky;
  top: 0;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.1);
  z-index: 100;
  animation: all 0.5s ease forwards;
  background-color: #fff;
}
.nav__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.nav__left {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.notflix__logo {
  font-family: 'Limelight', cursive;
  font-size: 32px;
  color: darkred;
  cursor: pointer;
}
.frog__logo{
    width: 60px;
    height: 60px;
    margin-left: 8px;
}
.nav__links {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 20px;
}
.nav__link {

  color: darkred;
  font-size: 20px;
  font-weight: 700;
  cursor: pointer;
  transition: all 300ms ease;
  text-decoration: none;
}
.nav__link:hover {
  text-decoration: underline;
  transform: translateX(10px); 
}
.primary-boop{
    font-family: "Limelight", sans-serif;
    font-size: 20px;
    padding: 8px 16px;
    border-radius: 20px;
}

/* 
HOME STYLES
*/
.landing__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.search--container{
    position: relative;
    margin: 16px;
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
}
.search--boop{
    width: 200px;
    margin-left: 20px;
    font-size: 30px;
    border-radius: 20px;
    font-family: "Limelight", sans-serif;
}
.search-bar{
    display: flex;
}
.landing__img--wrapper{
    overflow: hidden;
}
.landing__img{
max-height: 500px;
padding: 12px;
}
/* 
RESULTS/MOVIES STYLES
*/


.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
     padding: 16px 0;
    
}
.results__img{
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  opacity: 0.5;
    mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
}


/* 

MOVIE CARD STYLES

*/
#movies{
    margin-top: 120px;
}
.movies__row{
    display: flex; 
    flex-direction: column;
    justify-content: center;
}
.results__sub-title{
    margin-bottom: 0px;
    margin-top: 24px;
}
.results__slider{
    display: flex;
    align-self: flex-end;
    max-width: 350px;
}
.results__container{
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 12px;
    flex-wrap: wrap;
}
.movie-card{
    max-width: calc(100% / 4);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px;
    
}
.movie__poster:hover{
scale: calc(1.1);
}
.movie__poster,
.movie__name,
.movie__rating{
    padding-bottom: 6px;
    text-align: center;
    transition: all 300ms ease;
}
.movie__name{
    margin-top: 22px;
}
.movie__plot{
    text-align: center;
}
.movie__poster{
    min-height: 410px;
    min-width: 200px;
}
.movies__container{
  margin-top: 42px;
}

/* 
LOADING STYLES
*/
#loading__screen{
    position: fixed;
    top: 350px;
    left: 0;
    width: 100%;
    height: 80%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 300ms ease;
}
#loading__screen--container{
    position: fixed;
    top: 10%;
    left: 0;;
    width: 100%;
    height: 400px;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    transition: all 300ms ease;
}
.loading__icon{
    color: darkred;
    font-size: 48px;
    height: 100px;
    width: 100px;
    /* animation: spin 2s linear infinite; */
    z-index: 110;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* 

Footer Styles

*/
main{
  margin-bottom: 96px;
}
footer {
  padding: 66px 32px;
  background-color: #242424;
  margin-top: 32px;
  position: relative;
  overflow: hidden;
}
.footer__columns {
  margin-top: -48px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.footer__column {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 2;
}
.footer__column--title {
  color: #f7fafc;
  font-weight: 700;
  line-height: 1.5;
}
.footer__column--link {
  color: #f7fafc;
  font-size: 14px;
  margin-top: 12px;
  line-height: 1.5;
  font-weight: 500;
  position: relative;
}
.footer__column--link:nth-child(2) {
  margin-top: 24px;
}
.footer__divider {
  width: 100%;
  height: 2px;
  margin: 44px 0;
  background: darkred;
}
.footer__bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer__logo{
  display: flex;
  align-items: center;
}
.footer__logo--img{
  height: 80px;
  width: 120px;
}
/* .footer__logo--text{
  font-size: 20px;
  color: #f7fafc;
  font-weight: 900;
  margin-left: 8px;
  letter-spacing: 0.05em;
} */
.footer__copyright{
  color: #cbd5e0;
  font-weight: 500;
}
.footer__socials{
  display: flex;
  align-items: center;
  margin-left: -16px;
}
.footer__social--link{
  margin-left: 16px;
  padding: 8px;
  background: #f7fafc;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  z-index: 2;
transition: all 300ms ease;
color: darkred;
}
.footer__column--link:after{
  content: "";
  position:absolute;
  left:0;
  bottom: -6px;;
  background: #fff;
  height: 2px;
  width: 100%;
  transition: all 300ms ease;
  opacity: 0;
}
.footer__column--link:hover::after{
  opacity: 1;
}
.footer__social--link:hover{
background-color: rgba(203, 213, 224);
}


/*

MEDIA QUERIES

*/

/* desktop view */

@media (max-width:1024px){

    .movie-card{
        max-width: calc(100% / 2);
    }
    .landing__img{
        max-height: 350px;
    }
    .section__title{
        font-size: 42px;
    }
    .results__slider{
        max-width: 250px;
    }
}

/* tablets in landscape mode and up */

@media (max-width:768px){
    nav{
        padding: 20px 0px;
    }
    .nav__menu--boop{
        display: block;
    }
    .nav__link{
        display: none;
    }
    #landing{
      margin-top: 80px;
    }
        input{
        max-width: 400px;
        line-height: 30px;
        height: 50px;
        font-size: 16px;
    }
    .search--container{
        margin: 16px;
    }
     .results__container{
        max-width: 600px;
        display: flex;
        justify-content: center;
        margin-top: 12px;
       
    }
    .results__slider{
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

/* tablets in portrait mode and up*/

@media (max-width:600px){
    .container{
        margin: 40px 0;

    }
    #landing {
        height: auto;
    }
#movies{
    margin-top: 30px;
}
    .section__title{
        font-size: 32px;
    }
    .section__sub-title{
        font-size: 24px;
        margin-bottom: 14px;
    }
   
    .movie-card{
       max-width: 100%;
    }
    .landing__img--wrapper{
        margin: 16px 0;
    }
}

/* mobile devices in landscape mode and up */
/*
@media (max-width:480px){
    
  
}
*/
/* IN CONSTRUCTION STYLES */

.no-click:hover{
  cursor: not-allowed;
}